extends ../base

block head

block content
    .wrapper.works-wrapper
        header.works-header
            .works-header__top
                +social_links
                button#menu-toggle.menu-button
                    span.menu-button__line
            .site_author
                +avatar
                p.site_author__name Кривда Ярослав
                p.site_author__description Личный сайт веб разработчика
            //svg.header__svg-bg
                //use(xlink:href="#icon-portfolio_header")
            .header-title-box
                .header-box__title
                    h1.page-title Мои работы

    .wrapper.main
        section.portfolio-slider
            ul.portfolio-projects
                li.project
                    .project__inner
                        h3.project__title Сайт школы онлайн Образования
                        p.project__tech-box
                            span.skill-tag HTML,
                            span.skill-tag CSS,
                            span.skill-tag JavaScript
                        a.project__link
                            i.fa.fa-link
                            p Перейти на сайт

            .portfolio-slider__previev
                .portfolio-slider__preview-photo-box
                    img(src=require("./work-1.png") alt="work1").portfolio-preview
            .portfolio-slider__navigation
                .navigation-box.navigation-box_prev
                    button.portfolio-button.portfolio-button__prev
                        span.fa.fa-chevron-down
                    .portfolio-thumbnails
                        .portfolio-thumbnails__item
                            img(src=require("./thumbnails-item.jpg") alt="previev work")
                .navigation-box.navigation-box_next
                    button.portfolio-button.portfolio-button__next
                        span.fa.fa-chevron-up
                    .portfolio-thumbnails
                        .portfolio-thumbnails__item
                            img(src=require("./thumbnails-item-2.jpg") alt="previev work")
    .wrapper.talks-wrapper
        section.talks
            .talks-title-box
                h1.page-title Что обо мне говорят
            .talks__content
                .talks__testimonial-box
                    .testimonial
                        .testimonial__author-photo
                            .avatar
                                img(src=require("./dima.png") alt="Дмитрий Ковальчук")
                        blockquote.testimonial__text Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!
                        .author
                            p.author__name Дмитрий Ковальчук
                            p.author__description — сооснователь Loftschool
                    .testimonial
                        .testimonial__author-photo
                            .avatar
                                img(src=require("./Vova.jpg") alt="Владимир Сабанцев")
                        blockquote.testimonial__text Этот код выдержит любые испытания. Только пожалуйста, не загружайте сайт на слишком старых браузерах!
                        .author
                            p.author__name Сабанцев Владимир
                            p.author__description — преподаватель


    footer.works-footer
            .copyright © Кривда Ярослав
            .copyright Front-end developer
            .copyright 2017


