extends ../base

block head

block content
    include ../sprites
    .watter-bg
        canvas.watter-bg-canvas
    +main-menu(2).active
    .wrapper.works-wrapper

        header.site-header
            .site-header__top
                +social_links
                button#menu-toggle.menu-button
                    span.menu-button__line
            .site_author
                +avatar
                p.site_author__name Кривда Ярослав
                p.site_author__description Личный сайт веб разработчика

            svg.site-header__svg-bg
                use(xlink:href="#icon-portfolio_header")

            button.go-down.fa.fa-chevron-down(data-link=".portfolio-slider")

            svg.site-header__svg-corner(preserveAspectRatio="none" viewBox="0 0 2000 400")
                g
                    polygon(fill-rule="evenodd" clip-rule="evenodd" points="2032,360.368 2032,0 1016,173 0,0 0,360.368 	")

            .header-title-box
                .header-box__title
                    h1.page-title Мои работы

    .wrapper.main
        section.portfolio-slider
            ul.portfolio-projects
                li.project
                    .project__inner
                        h3.project__title Сайт школы онлайн Образования
                        p.project__tech-box
                            span.skill-tag HTML,
                            span.skill-tag CSS,
                            span.skill-tag JavaScript
                        a.project__link
                            i.fa.fa-link
                            p Перейти на сайт

            .portfolio-slider__previev
                .portfolio-slider__preview-photo-box
                    img(src=require("./work-1.png") alt="work1").portfolio-preview
            .portfolio-slider__navigation
                .navigation-box.navigation-box_prev
                    button.portfolio-button.portfolio-button__prev
                        span.fa.fa-chevron-down
                    .portfolio-thumbnails
                        .portfolio-thumbnails__item
                            img(src=require("./thumbnails-item.jpg") alt="previev work")
                .navigation-box.navigation-box_next
                    button.portfolio-button.portfolio-button__next
                        span.fa.fa-chevron-up
                    .portfolio-thumbnails
                        .portfolio-thumbnails__item
                            img(src=require("./thumbnails-item-2.jpg") alt="previev work")
    .wrapper.talks-wrapper.last-section
        section.talks
            .talks-title-box
                h1.page-title Что обо мне говорят
            .talks__content
                .talks__testimonial-box
                    .testimonial
                        .testimonial__author-photo
                            .avatar
                                img(src=require("./dima.png") alt="Дмитрий Ковальчук")
                        blockquote.testimonial__text Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!
                        .author
                            p.author__name Дмитрий Ковальчук
                            p.author__description — сооснователь Loftschool
                    .testimonial
                        .testimonial__author-photo
                            .avatar
                                img(src=require("./Vova.jpg") alt="Владимир Сабанцев")
                        blockquote.testimonial__text Этот код выдержит любые испытания. Только пожалуйста, не загружайте сайт на слишком старых браузерах!
                        .author
                            p.author__name Сабанцев Владимир
                            p.author__description — преподаватель
        .contact-form
            form#contact
                .contact-form__bg
                .contact-form__content
                    h3.contact-form__heading.page-title Связаться со мной
                    input.contact-form__field(type="text" name="name" placeholder="Имя" required data-check="username")
                    input.contact-form__field(type="email" name="email" placeholder="Email" required data-check="email")
                    textarea.contact-form__field.contact-form__field_textarea(name="message" placeholder="Ваше сообщение" required )

                ul.form-buttons
                    - var buttons = {"Отправить" : "form-submit", "Очистить" : "form-clear"}
                    each b_action, b_name in buttons
                        li.form-buttons__button.form-buttons__button_even
                            button(class="btn form-buttons__button-content", id=b_action)= b_name

    include ../footer


