
mixin avatar
    .avatar
        img(src=require("./my_photo.jpg") title="Кривда Ярослав - Frontend developer" alt="Кривда Ярослав - Frontend developer")

mixin social_links(style)
    ul.social-links
        -
            var socials = {
            "vk" : "http://vk.com/id5593980",
            "github-alt" : "https://github.com/Kry-dev",
            "instagram" : "https://www.instagram.com/yarikkrivda/",
            "linkedin" : "https://ru.linkedin.com/in/yaroslav-kryvda-32b88485/"
            };
        each s_url, s_name in socials
            li(class="social-links__item" + ((style) ? " social-links__item_#{style}" : ""))
                a(class="social-links__link fa fa-" + s_name, href=s_url, target="_blank")

mixin navigation
    ul.nav-list
        - var nav_pages = {"Мои работы" : "works.html", "Обо мне" : "about.html", "Блог" : "blog.html", "Авторизация" : "#"};
        each p_url, p_name in nav_pages
            li.nav-list__item
                a(class="nav-list__link" href=p_url)= p_name


mixin main-nav
    ul.main-nav
        - var pages = {"Мои работы" : "works.html", "Обо мне" : "about.html", "Блог" : "blog.html"}
        each p_url, p_name in pages
            li.main-nav__item
                a(class="btn" href=p_url)= p_name


mixin pie_chart(skill, percentage)
    li.skills__group-item
        .skills__group-item-title=skill
        svg(class="piechart" viewBox="0 0 120 120")
            circle(class="piechart__bg" fill="none" stroke-width="20" stroke-dasharray="314.159265" stroke-dashoffset="314.159265" cx="60" cy="60" r="50" transform="rotate(-90, 60, 60)")
            circle(class="piechart__fill", data-percentage=percentage , fill="none", stroke-width="20", stroke-dasharray="314.159265", stroke-dashoffset=percentage , cx="60", cy="60", r="50", transform="rotate(-90, 60, 60)")

